[project]
name = "pub-ready-plots"
version = "1.2.3"
description = "Easy publication-ready matplotlib plots for ML papers and posters."
authors = [
    { name = "Agustinus Kristiadi", email = "agustinus@kristia.de" },
]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.9",
]
requires-python = ">=3.9"
dependencies = [
    "matplotlib>=3.9.0",
]
readme = "README.md"

[project.license]
text = "MIT"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"

[tool.pdm]
distribution = true

[tool.uv]
dev-dependencies = [
    "pytest>=8.2.2",
    "pytest-cov>=5.0.0",
    "ruff>=0.5.0",
    "mypy>=1.11.1",
    "seaborn>=0.13.2",
    "pypalettes>=0.1.3",
]

[tool.pytest.ini_options]
testpaths = "tests"

[tool.ruff.lint]
select = [
    "E4",
    "E7",
    "E9",
    "F",
    "I",
    "PLE",
    "PLW",
]
ignore = [
    "PLW2901",
    "E402",
]
