
/* ================== Change BACKGROUND COLOR for function signatures ================== */
.md-typeset .highlight {
  background-color: ##C5C5C5; /* Dark background color */
  padding: 0px;
  border-radius: 6px;
  font-weight: bold;
  overflow-x: auto;
  font-family: 'Fira Code', monospace; /* Optional: set code font */
}
/* Customize syntax highlighting colors */
.md-typeset .highlight .k, /* Keywords */
.md-typeset .highlight .n, /* Names (functions, variables) */
.md-typeset .highlight .o { /* Operators */
    color: #006666; /* Green for keywords, names, and operators */
}

.md-typeset .highlight .kt { 
  color: #2196F3; /* Blue for types */
}

.md-typeset .highlight .p {
  color: #FF5722; /* Orange for parameters */
}


/* ================== CODE BLOCKS styles ================== */
/* /\* Optional: Add a subtle shadow to the code block *\/ */
/* .md-typeset .highlight { */
/*   box-shadow: 0 2px 4px rgba(0, 0, 0, 1); */
/* } */
.md-typeset .highlight pre {
  /* background-color: #2d2d2d; /\* Change the background color *\/ */
  /* color: #f8f8f2;            /\* line number colors *\/ */
  padding: 0px;             /* Adjust the padding */
  border-radius: 4px;        /* Optional: round the corners */
  overflow: auto;            /* Enable scrolling for long code lines */
 /* Border customization */
  /* border: 1px solid #E0E0E0; /\* 2px width, solid style, red color *\/ */
}
/* /\* Highlighting specific lines (if configured) *\/ */
/* .md-typeset .highlight .hll { */
/*   background-color: rgba(255, 255, 0, 0.2); /\* Change highlighted line color *\/ */
/* } */
/* Inline code */
.md-typeset code {
  /* background-color: #f5f5f5; /\* Background for inline code *\/ */
  /* color: #333;             /\* Text color for inline code *\/ */
  padding: 0.0rem 0.0rem;    /* Padding for inline code */
  border-radius: 3px;        /* Optional: slight rounding */
  
  /* Border customization */
  border: 1px solid #E0E0E0; /* 1px width, solid style, red color */
}


/* ================== Customize TABLE header styles ================== */
.md-typeset table thead th {
  background-color: #F9F9F9; /* Green header background */
  color: #000000;            /* White header text */
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 2px solid #1B5E20;
}

/* Optional: Customize table body styles */
.md-typeset table tbody td {
  padding: 0px;
  border-bottom: 1px solid #ddd;
}

/* Add hover effect for table rows */
.md-typeset table tbody tr:hover {
  background-color: #f5f5f5;
}

/* Style for tables from NumPy docstrings */
.md-typeset .docutils field-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Optional: Add border and spacing to tables */
.md-typeset table {
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}



/* ================== Customize TOC/SECTIONS header styles ================== */
/* -----------------   */
/* LEFT AND RIGHT TOC */
/* ------------------ */
/* Hover (both left and rigth) */
.md-sidebar .md-nav__link:hover {
  /* font-size: .8rem;    /\* Adjust to your desired font size *\/ */
  color: #2a9d8f;     /* Change to a different color on hover */
}
/* Optional: Active navigation item style */
/* .md-sidebar .md-nav__item > .md-nav__link { */
/*   /\* font-size: .8rem;    /\\* Adjust to your desired font size *\\/ *\/ */
/*   /\* font-weight: bold; *\/ */
/*   color: #2a9d8f;     /\* Active item color *\/ */
/* } */
.md-sidebar .md-nav__item > .md-nav__link:hover {
  /* font-size: .8rem;    /\* Adjust to your desired font size *\/ */
  /* font-weight: bold; */
  color: #264653;       /* Subsection color */
}
/* Change the text and background color of the active navigation item */
.md-sidebar .md-nav__item--active > .md-nav__link {
  color: #2a9d8f;     /* Active item color */
  font-weight: bold;
  /* text-decoration: underline  #2a9d8f; */
  /* background-color: #f0f0f0;   /\* Optional: set a background color *\/ */
}
/* linespace */
.md-sidebar .md-nav__link {
  /* padding-top: 0; */
  /* padding-bottom: 0; */
  /* line-height: 1;  /\* Adjust line-height if needed *\/ */
}
/* linespace */
.md-sidebar .md-nav__item {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;  /* Adjust line-height if needed */
}


/* -------- */
/* RIGHT TOC */
/* -------- */
/* title "Table of Contents" */
.md-nav__title {
  font-size: .8rem;  /* Adjust font size as needed */
  color: #2a9d8f;     /* Change the text color */
  font-weight: bold;  /* Set font weight */
}
.md-nav__item  {
  font-size: .7rem;  /* Adjust font size as needed */
  color: #264653;       /* Subsection color */
  /* font-weight: bold;  /\* Set font weight *\/ */
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0;  /* Adjust line-height if needed */
}
.md-nav__item .md-nav__link--active {
  color: #2a9d8f;     /* Change the text color */
  font-weight: bold;  /* Set font weight */
  text-decoration: underline overline;
}

/* /\* -------- *\/ */
/* /\* LEFT TOC *\/ */
/* /\* -------- *\/ */
/* /\* section  *\/ */
/* .md-nav__list .md-nav__item .md-nav__list .md-nav__link { */
/*   font-size: .7rem;    /\* Medium font for regular subsections *\/ */
/*   color: #2a9d8f;     /\* Change to a different color on hover *\/ */
/*   font-weight: bold; */
/*   padding-top: 0; */
/*   padding-bottom: 0; */
/*   line-height: 1;  /\* Adjust line-height if needed *\/ */
/* } */
.md-nav__list .md-nav__item--active  .md-nav__list  .md-nav__link--active  {
  color: #2a9d8f;
  font-weight: bold;
  /* padding-top: 0; */
  /* padding-bottom: 0; */
  /* line-height: 1; */
  text-decoration: underline overline;
}
.md-nav__list .md-nav__item .md-nav__list .md-nav__link:hover {
  /* color: #264653;       /\* Subsection color *\/ */
  font-weight: bold;
  /* padding-top: 0; */
  /* padding-bottom: 0; */
  /* line-height: 1;  /\* Adjust line-height if needed *\/ */
}


/* subsection  */
.md-nav__list .md-nav__item .md-nav__list .md-nav__item .md-nav__list .md-nav__link {
  font-size: .7rem;    /* Medium font for regular subsections */
  color: #264653;       /* Subsection color */
  font-weight: normal;
  margin-left: 10px;
  /* padding-top: 0; */
  /* padding-bottom: 0; */
  /* line-height: 1;  /\* Adjust line-height if needed *\/ */
}
.md-nav__list .md-nav__item .md-nav__list .md-nav__item .md-nav__list .md-nav__link:hover {
  color: #264653;       /* Subsection color */
  font-weight: bold;
  /* padding-top: 0; */
  /* padding-bottom: 0; */
  /* line-height: 1;  /\* Adjust line-height if needed *\/ */
}
.md-nav__list .md-nav__item--active .md-nav__list .md-nav__item--active  .md-nav__list  .md-nav__link--active  {
  font-weight: bold;
  color: #2a9d8f;
}


/* /\* Change only the color of one-level down navigation items *\/ */
/* .md-nav__list > .md-nav__item > .md-nav__link { */
/*   color: #2a9d8f; */
/* } */
.md-nav__list .md-nav__item--active .md-nav__list .md-nav__item--active  .md-nav__list  .md-nav__link--active  {
  color: #555;
}







