#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
#text-box,
#image-box {
    flex: 1;
    padding: 20px;
}

#image-box img {
    max-width: 100%;
    height: auto;
    border: 1px solid #333;
    border-radius: 2em;
}

#text-box {
    font-size: 2em;
    text-align: center;
}

#text-box p {
    padding: 0.5em 0;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    #hero {
        flex-direction: column;
    }
}
