@import url('https://fonts.googleapis.com/css2?family=Noto:wght@100&display=swap'); 

html, body, [class*="css"] {
    font-family: 'Noto', sans-serif !important; 
    font-size: 14px;
    font-weight: 400;
    color: #091747;
}
